body {
	margin: 0;
	padding: 0;
	background: #ddd;
}

#pagina {
	margin: 1em auto;
	width: 950px;
	background: #fff
}
#cabecalho {
}

#menusuperior {
	background: #808080;
	height: 50px;
	text-align: center;
}

#menulateral {
	float: right;
	width: 200px;
	height: 200px;
	background: #FFF;
}

#conteudo {
	float: left;
	width: 710px;
	margin: 0 0 0 20px;
	background: #FFF;
}

.opniao {
	text-align: center;
	font-family: verdana;
	border: 1px solid gray;
	padding: 8px;
}

#rodape {
	clear:both;
	background: #FF8C00;
	text-align: center;
	color: #000000;
	font-weight: bold;
}

a:hover{
	background-color: #D2691E;	
}

a {
	text-decoration: none;
	display: block;
    width: 150px;
    background-color: #808080;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:15px;
    overflow: hidden;
}

li {
    float: left;
    font-weight: bold;
	text-transform: uppercase;
}
.formcontato {
	margin: 30px;
	font-weight: bold;
	font-family: verdana;
}

input[type="email"] {
     width: 300px;
     display: block;
     margin-bottom: 10px;
     border-color: #FF8C00;
     height: 20px;
 }

 textarea {
     width: 300px;
     display: block;
     margin-bottom: 10px;
     border-color: #FF8C00;
 }

input[type="submit"] {
     width: 70px;
     margin-left: 220px;
     display: block;
     height: 25px;
 }

 input[type="texto"] {
     width: 300px;
     margin-bottom: 10px;
     display: block;
     border-color: #FF8C00;
     height: 20px;
     font-weight: bold;
	 font-family: verdana;