body {
	margin: 0;
	padding: 0;
	background: #ddd;
}

#pagina {
	margin: 1em auto;
	width: 950px;
	background: #fff
}
#cabecalho {
}

#menusuperior {
	background: #808080;
	height: 50px;
	text-align: center;
}

#menulateral {
	float: right;
	width: 200px;
	height: 200px;
	background: #FFF;
	text-align: center;
}

#menulateralcontato {
	float: right;
	width: 310px;
	height: 200px;
	background: #FFF;
	background-image: url(../imagens/romario.jpg);
	margin: 60px;
	text-align: center;
	font-size: 20px;
	background-repeat: no-repeat;
}

#conteudo {
	float: left;
	width: 710px;
	margin: 0 0 0 20px;
	background: #FFF;
}

#conteudonot {
	float: left;
	width: 900px;
	margin: 0 0 0 20px;
	background: #FFF;
	text-align: center;
}

#conteudoprojetos {
	float: left;
	width: 900px;
	margin: 0 0 0 20px;
}

#fotoproj {
	background-image: url(../imagens/projetos.png);
	background-repeat: no-repeat;
	width: 900px;
	height: 200px;

}

#fotonot {
	background-image: url(../imagens/romar.jpg);
	background-repeat: no-repeat;
	width: 900px;
	height: 350px;
	background-position: center;
}

.h3projetos {
	text-align: center;
}

h3 {
	text-align: center;
}

#conteudocontato {
	float: left;
	width: 400px;
	margin: 0 0 0 100px;
	background: #FFF;
}
.h3contato {
	text-align: center;
}

#conteudobiografia {
	float: left;
	width: 900px;
	margin: 0 0 0 25px;
	background: #FFF;
	
}
#fotobiografia{
	background-image: url(../imagens/senador.jpg);
	width: 900px;
	height: 240px;
}

.senador {
	text-align: center;
}

.opniao {
	text-align: center;
	font-family: verdana;
	border: 1px solid gray;
	padding: 8px;
	background-image: url(../imagens/opn.jpg); 
}

#rodape {
	clear:both;
	background: #FF8C00;
	text-align: center;
	color: #000000;
	font-weight: bold;
}

a:hover{
	background-color: #D2691E;	
}

a {
	text-decoration: none;
	display: block;
    width: 150px;
    background-color: #808080;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:15px;
    overflow: hidden;
}

li {
    float: left;
    font-weight: bold;
	text-transform: uppercase;
}
.formcontato {
	margin: 30px;
	font-weight: bold;
	font-family: verdana;
}

input[type="email"] {
     width: 300px;
     display: block;
     margin-bottom: 10px;
     border-color: #FF8C00;
     height: 20px;
 }

 textarea {
     width: 300px;
     display: block;
     margin-bottom: 10px;
     border-color: #FF8C00;
 }

input[type="submit"] {
     width: 70px;
     margin-left: 230px;
     display: block;
     height: 25px;
 }

 input[type="texto"] {
     width: 300px;
     margin-bottom: 10px;
     display: block;
     border-color: #FF8C00;
     height: 20px;
     font-weight: bold;
	 font-family: verdana;
	}

	 .texto{
	 	text-align: justify;
	 }

	 .informativo {
	  text-align: justify;
	 }

	 h2 {
	 	text-align: center;
	 }
	 h4 {
	 	text-align: center;
	 }